name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: "24"
          registry-url: "https://npm.pkg.github.com"
          scope: "@loilo-inc"
      - run: npm i
      - name: Check lib
        run: |
          make
          git diff --exit-code lib
